
<div class="itemtest">
    <form class="form-example">
{{{firstName}}}
{{{secondName}}}
{{{displayName}}}
{{{email}}}
{{{phone}}}
{{{login}}}
{{{oldPassword}}}
{{{newPassword}}}
{{{avatar}}}
{{{btnSettings}}}
    </form>
    <div style="align-content: center">
        <img class="profileimg" alt="{{currentUser.firstName}}" src="https://ya-praktikum.tech/api/v2/resources/{{img}}">
    </div>
    <div class="errormessage" id="err"></div>
</div>