
<div class="itemtest">
    <form class="form-example">
{{{firstName}}}
{{{secondName}}}
{{{displayName}}}
{{{email}}}
{{{phone}}}
{{{login}}}
{{{oldPassword}}}
{{{newPassword}}}
{{{avatar}}}
{{{button}}}
    </form>
</div>