
           <div style="float: left">
               <img class="userimg" src="https://ya-praktikum.tech/api/v2/resources/{{avatar}}">
           </div>
           <div class="userinfo" style="float: left" id="{{id}}">
               <br><b>{{id}} {{login}} </b>
               <br>{{phone}}
               <br>{{firstName}}
           </div>
           <div style="float: right; text-align: right; padding: 5px">
               <button id="{{id}}" login="{{login}}">Удалить</button>
           </div>
           </div>




