<input class="search" id="search" type="text">
{{#each contacts}}
       <div class="userchat">
           <div style="float: left">
               <img class="userimg" src="{{this.avatar}}">
           </div>
           <div class="userinfo" style="float: left" id="{{this.id}}">
               <br><b>{{this.id}} {{this.login}} </b>
               <br>{{this.phone}}
               <br>{{this.firstName}}
           </div>
           <div style="float: right; text-align: right; padding: 5px">
               <button id="{{this.id}}" login="{{this.login}}">написать</button>
           </div>
           </div>

       </div>
{{/each}}




