       <div class="userchat">
           <div style="float: left">
               <img class="userimg" src="{{avatar}}">
           </div>
           <div class="userinfo" style="float: left" id="{{id}}">
               <br><b>{{id}} {{login}} </b>
               <br>{{phone}}
               <br>{{firstName}}
           </div>
           <div style="float: right; text-align: right; padding: 5px">
               <button id="{{id}}" login="{{login}}">написать</button>
           </div>
           </div>

       </div>


